<label>server name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">add server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">SERVER WAS CREATED, SERVER NAME is: {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
