<label>server name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">add server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">SERVER WAS CREATED, SERVER NAME is: {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>my servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">add server</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let serverDebug of serversDebug; let i = index"
          (click)="onRemoveServer(i)">{{ serverDebug }}</li>
      </ul>
    </div>
  </div>
</div>
<hr>
